<div class="pages" ng-switch on="site">
    <div class="recipe-list-site" ng-switch-when="recipe-list">
        <md-toolbar class="header">
            <h2 class="title">Recipes</h2>

        </md-toolbar>
        <div class="site">

        </div>
    </div>
    <div class="recipe-info-site" ng-switch-when="recipe-info">
        <md-toolbar class="header">
            <md-button class="md-icon-button">Delete</md-button>
        </md-toolbar>
        <div class="site">
            <md-input-container>
                <label>Name</label>
                <input ng-model="recipe.name">
            </md-input-container>
            <md-input-container>
                <label>Tags</label>
                <md-chips ng-model="recipe.tags"></md-chips>
            </md-input-container>
            <md-input-container>
                <label>Last prepared</label>
                <input ng-model="recipe.last" readonly="readonly">
            </md-input-container>
        </div>
    </div>
    <div class="calendar-site" ng-switch-when="calendar">
        <md-toolbar class="header">
            <h2 class="title">Calendar</h2>
        </md-toolbar>
        <div class="site">
            <div class="calendar-item" ng-repeat="item in calendar">
                <div class="image" ng-show="item.recipe" back-img="item.recipe.imageURL"></div>
                <div class="tags" ng-show="item.recipe">
                    <span class="tag" ng-repeat="tag in item.recipe.tags">{{tag.name}}</span>
                </div>
                <div class="name" ng-show="item.recipe">{{item.recipe.name}}</div>
                <div class="date" ng-show="item.recipe">{{item.date | datify}}</div>
                <div class="image no-recipe" ng-show="!item.recipe"></div>
                <div class="name no-recipe" ng-show="!item.recipe">Add...</div>
            </div>
        </div>
    </div>




</div>