<div id="editor-site" flex layout="column" ng-controller="editor">
    <div layout="row">
        <picture-input class="image" model="recipe.image">
        </picture-input>
        <div flex layout="column">
            <input class="input name" type="text" ng-model="recipe.name" flex>
            <md-radio-group ng-model="recipe.category">
                <md-radio-button ng-value="C.CATEGORY.Easy" class="material-icons">
                    dinner_dining
                </md-radio-button>
                <md-radio-button ng-value="C.CATEGORY.Hard" class="material-icons">
                    brunch_dining
                </md-radio-button>
                <md-radio-button ng-value="C.CATEGORY.Starter" class="material-icons">
                    tapas
                </md-radio-button>
                <md-radio-button ng-value="C.CATEGORY.Dessert" class="material-icons">
                    icecream
                </md-radio-button>
            </md-radio-group>
            <md-chips ng-model="recipe.tags" md-require-match="true">
                <md-autocomplete md-search-text="tagSearch" md-autoselect
                                 md-items="tag in searchTags(tagSearch)">
                    {{tag}}
                </md-autocomplete>
            </md-chips>
        </div>
    </div>
    <h4>Zutaten</h4>
    <textarea class="input ingredients" ng-model="recipe.ingredients" auto-height flex="none">
    </textarea>
    <h4>Rezept</h4>
    <textarea class="input steps" ng-model="recipe.steps" auto-height flex="none"></textarea>
    <md-button class="md-raised" ng-click="save(recipe)" ng-disabled="!saveEnabled(recipe)">
        Speichern
    </md-button>
    <span style="min-height: 40px"></span>
</div>