<div id="main-site" flex layout="column" layout-align="start center">
    <md-sidenav md-component-id="sidenav" class="md-sidenav-right" layout="column">
        <div id="app-icon-big" ng-click="admin($event)"><img src="images/icon.png"></div>
        <md-list ng-click="$mdSidenav('sidenav').close()">
            <md-list-item
                    ng-click="$state.go(C.SITE.Main, { category: C.CATEGORY.Easy })">
                <div class="material-icons md-avatar-icon">dinner_dining</div>
                <span class="md-list-item-text">Alltag</span>
            </md-list-item>
            <md-list-item
                    ng-click="$state.go(C.SITE.Main, { category: C.CATEGORY.Hard })">
                <div class="material-icons md-avatar-icon">brunch_dining</div>
                <span class="md-list-item-text">Sonntags Menü</span>
            </md-list-item>
            <md-list-item
                    ng-click="$state.go(C.SITE.Main, { category: C.CATEGORY.Dessert })">
                <div class="material-icons md-avatar-icon">icecream</div>
                <span class="md-list-item-text">Dessert</span>
            </md-list-item>
            <md-divider ng-if="properties.canEdit"></md-divider>
            <md-list-item ng-click="$state.go(C.SITE.All)" ng-if="properties.canEdit">
                <div class="material-icons md-avatar-icon">list</div>
                <span class="md-list-item-text">Alle Rezepte</span>
            </md-list-item>
            <md-list-item ng-click="$state.go(C.SITE.New)" ng-if="properties.canEdit">
                <div class="material-icons md-avatar-icon">add</div>
                <span class="md-list-item-text">Neues Rezept</span>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="$state.go(C.SITE.Shopping)">
                <div class="material-icons md-avatar-icon">shopping_cart</div>
                <span class="md-list-item-text">Einkaufs-Liste</span>
            </md-list-item>
        </md-list>
        <span flex></span>
    </md-sidenav>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div layout="row" tabindex="0"
                 ng-click="$state.go(C.SITE.Main, { category: C.CATEGORY.Easy })">
                <img id="app-icon" src="images/icon.png">
                <h2 class="app-title" hide show-gt-xs>Chochbuech</h2>
                <h2 class="app-title" hide-gt-xs
                    ng-show="!showSearch || !($state.is(C.SITE.Main) || $state.is(C.SITE.Search))">
                    Chochbuech
                </h2>
            </div>
            <span flex></span>
            <div layout="row" ng-show="$state.is(C.SITE.Main) || $state.is(C.SITE.Search)">
                <input class="search-input" ng-show="showSearch" type="search" ng-model="search"
                       flex ng-enter="$state.go(C.SITE.Search, { term: search })"
                       placeholder="Suche">
                <md-button class="md-icon-button search-button" aria-label="Search"
                           ng-click="showSearch = !showSearch">
                    <div class="material-icons">search</div>
                </md-button>
            </div>
            <md-button class="md-icon-button" aria-label="Zur Einkaufsliste hinzufügen"
                       ng-show="$state.is(C.SITE.View)"
                       ng-click="$broadcast(C.EVENTS.SHOPPING_CART_CLICK)">
                <div class="material-icons">add_shopping_cart</div>
            </md-button>
            <md-button class="md-icon-button" aria-label="Entferne selektierte Produkte"
                       ng-show="$state.is(C.SITE.Shopping)"
                       ng-click="$broadcast(C.EVENTS.SHOP_REMOVE_DONE)">
                <div class="material-icons">remove_done</div>
            </md-button>
            <md-button class="md-icon-button" aria-label="Entferne alle Produkte"
                       ng-show="$state.is(C.SITE.Shopping)"
                       ng-click="$broadcast(C.EVENTS.SHOP_REMOVE_ALL)">
                <div class="material-icons">remove_shopping_cart</div>
            </md-button>
            <md-button class="md-icon-button menu-button" aria-label="Menu"
                       ng-click="$mdSidenav('sidenav').open()">
                <div class="material-icons">menu</div>
            </md-button>
        </div>
    </md-toolbar>
    <div class="site-container" flex layout="column" layout-align="start center">
        <ui-view flex layout="column"></ui-view>
    </div>
</div>