<div class="photo-site" ng-controller="photo">
    <div class="debug">{{error}}</div>
    <div class="image-list" ng-show="mode == 0" ng-init="reload()">
        <div class="list">
            <div class="item" ng-repeat="item in images">
                <img ng-src="/images/{{item.id}}"/>
            </div>
        </div>
        <button ng-click="mode = 1">Add</button>
    </div>
    <div class="take-photo" ng-show="mode == 1">
        <div class="video"><photo-capture></photo-capture></div>
        <button ng-click="$root.$broadcast('capture'); mode = 2">Save</button>
        <button ng-click="refresh(); mode = 0">Back</button>
    </div>
    <img class="show-photo" ng-show="mode == 2" ng-click="mode = 1"/>
</div>