<div id="start-site" flex layout="column">
  <div class="history" layout="row">
    <div class="entry" ng-repeat="entry in history track by entry.id"
         style="background-image: url('{{entry.image}}');"
         ng-click="$state.go(C.SITE.View, { id: entry.id })">
    </div>
  </div>
  <div layout="row" layout-wrap>
    <div class="recipe" layout="column" ng-repeat="recipe in recipes track by recipe.id"
         ng-click="$state.go(C.SITE.View, { id: recipe.id })">
      <div class="image" style="background-image: url('{{recipe.image}}');"></div>
      <span class="name">{{recipe.name}}</span>
    </div>
  </div>
  <div class="no-recipes" ng-if="!recipes.length && $state.is(C.SITE.Search)" flex>
    Keine Rezepte gefunden.
  </div>
  <div class="no-recipes" layout="column" layout-align="center center"
       ng-if="!recipes.length && !$state.is(C.SITE.Search)" flex>
    Offline.
    <md-button layout="column" ng-click="$state.go(C.SITE.Shopping)">
      <div class="material-icons">shopping_cart</div>
      Einkaufsliste
    </md-button>
  </div>
</div>