<div id="start-site" flex layout="column">
  <div class="history" layout="row" ng-if="history.length">
    <a class="entry" ng-repeat="entry in history track by entry.id"
         style="background-image: url('{{entry.image}}');" href="r/{{entry.id}}">
    </a>
  </div>
  <md-tabs flex md-border-bottom md-center-tabs md-swipe-content md-no-pagination
           md-selected="properties.tabId">
    <md-tab ng-repeat="tab in tabs" label="{{tab.label}}">
      <div class="recipes-container" layout="row" layout-wrap>
        <a class="recipe" layout="column" ng-repeat="recipe in tab.recipes track by recipe.id"
           href="r/{{recipe.id}}">
          <div class="image" style="background-image: url('{{recipe.image}}');">
            <span class="name">{{recipe.name}}</span>
          </div>
        </a>
      </div>
      <div class="no-recipes" ng-if="!tab.recipes.length && $state.is(C.SITE.Search)" flex>
        Keine Rezepte gefunden.
      </div>
      <div class="no-recipes" layout="column" layout-align="center center"
           ng-if="!tab.recipes.length && !$state.is(C.SITE.Search)" flex>
        Offline.
        <md-button layout="column" ng-click="$state.go(C.SITE.Shopping)">
          <div class="material-icons">shopping_cart</div>
          Einkaufsliste
        </md-button>
      </div>
    </md-tab>
  </md-tabs>
</div>