<div id="start-site" flex layout="row" layout-wrap>
  <div class="recipe" layout="column" ng-repeat="recipe in recipes track by recipe.id"
       ng-click="$state.go(C.SITE.View, { id: recipe.id })">
    <div class="image" style="background-image: url('{{recipe.image}}');"></div>
    <span class="name">{{recipe.name}}</span>
  </div>
  <div class="no-recipes" ng-if="!recipes.length && $stateParams.search" flex>
    Keine Rezepte gefunden.
  </div>
  <div class="no-recipes" layout="column" layout-align="center center"
       ng-if="!recipes.length && !$stateParams.search" flex>
    Offline.
    <md-button layout="column" ng-click="$state.go(C.SITE.Shopping)">
      <div class="material-icons">shopping_cart</div>
      Einkaufsliste
    </md-button>
  </div>
</div>