<div id="view-site" flex ng-class="{zoom: zoom}"
     ng-init="$on(C.EVENTS.SHOPPING_CART_CLICK, shopRecipe(recipe));">
    <div class="image" style="background-image: url('{{recipe.image}}');"></div>
    <div class="card-container" scroll-on-load>
        <div class="card-spacer"></div>
        <div class="card" layout="column" md-colors="{background: 'background'}">
            <div layout="row">
                <span class="name" flex>{{recipe.name}}</span>
                <md-button class="md-icon-button share-button" aria-label="Share"
                           ng-click="copyRecipeUrl(recipe)">
                    <div class="material-icons">share</div>
                </md-button>
            </div>
            <span class="ingredient-group-name" ng-repeat-start="group in display.ingredientGroups"
                  ng-if="group.name">{{group.name}}</span>
            <ul class="ingredient-group-list" ng-repeat-end>
                <li ng-repeat="item in group.items">
                    {{item}}
                </li>
            </ul>
            <div class="preparation" ng-show="display.preparation" ng-click="zoom = true"
                 tabindex="-1">
                <b>Vorbereitung:</b>
                {{display.preparation}}
            </div>
            <ol class="steps" ng-click="zoom = true" tabindex="-1">
                <li class="step" ng-repeat="step in display.steps">
                    {{step}}
                </li>
            </ol>
            <connected-string class="notes" value="display.notes"></connected-string>
        </div>
    </div>
    <md-button class="md-icon-button edit-button" aria-label="Edit" ng-if="properties.canEdit"
               ng-click="$state.go(C.SITE.Editor, { id: recipe.id })">
        <i class="material-icons">edit</i>
    </md-button>
</div>