$headerColor: #201000;
$itemHeight: 4.2em;
$textGrey: dimgray;

html, body, ul, ol, table, td, th, h1, h2, h3 {
  margin: 0;
}


.item {
  position: relative;
  flex: none;
  height: $itemHeight;
  min-height: $itemHeight;
  border-bottom: 1px solid black;
  color: black;

  .image {
    height: $itemHeight;
    width: $itemHeight;
    border-left: 2px solid #373737;
  }

  .tags {
    position: absolute;
    left: $itemHeight + 0.4em;
    top: 0.5em;
    color: $textGrey;
    font-variant: small-caps;
    font-family: "Times New Roman", serif;

    .tag {
      margin-right: 0.2em;
    }
  }

  .name {
    position: absolute;
    left: $itemHeight + 1em;
    top: 0;

    line-height: $itemHeight;
  }
}

.calendar-site {

  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    $height: 50px;

    flex: none;
    height: $height;
    background-color: $headerColor;
    line-height: $height;
  }

  .site {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .item {
      .image.no-recipe {
        background-image: url("/img/add_sign.png");
        background-size: $itemHeight $itemHeight;
      }
      .date {
        position: absolute;
        top: 0.2em;
        right: 0.2em;

        color: $textGrey;
      }
    }
    .item.saturday {
      background-color: lavender;
    }
    .item.sunday {
      background-color: LightSteelBlue;
    }
    .item.today {
      z-index: 1;
      box-shadow: 0 -1px 0 0 darkred, 0 -0.5px 2px 2px red;
      border-bottom-color: darkred;
    }
  }
}