#editor-site .image {
    height: 140px;
    width: 140px;
    cursor: pointer;
    object-fit: cover;
}

#editor-site .input {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    resize: none;
}

#editor-site .input:focus, #editor-site .input:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#editor-site .name {
    padding-top: 24px;
    padding-left: 10px;
    font-family: "Gotham", sans-serif;
    font-size: 22px;
}

#editor-site md-radio-button {
    position: relative;
    margin: 0 10px;
}

#editor-site md-radio-button div:not(.md-ripple-container), #editor-site md-radio-button {
    width: 40px;
    height: 40px;
}

#editor-site md-radio-button.md-checked .md-on {
    transform: scale(0.8);
}

#editor-site md-radio-button .md-label {
    position: absolute;
    margin: 8px;
    color: rgba(0, 0, 0, 0.7);
}

#editor-site h4 {
    margin-bottom: 10px;
}

#editor-site .ingredients {
    min-height: 72px;
}

#editor-site .steps {
    min-height: 144px;
}
