@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, body {
    margin: 0;
}

.site-container {
    width: 600px;
    max-width: 100%;
}