html, body {
    margin: 0;
}

.photo-site {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.photo-site .debug {
    background-color: black;
    color: white;
    height: 50px;
}

.photo-site .image-list {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.photo-site .image-list .list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.photo-site .image-list .list .item {
    flex: none;
    height: 100px;
    border-bottom: 1px solid black;
    background-color: peachpuff;
    display: flex;
    flex-direction: row;
}

.photo-site .image-list .list .item img {
    height: 90px;
    width: 90px;
    margin: 5px;
}

.photo-site .take-photo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.photo-site .take-photo .video {
    flex: 1;
    overflow: hidden;
}

.photo-site .take-photo .video video {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.photo-site .take-photo .video-take {
    display: none;
}

.photo-site .show-photo {
    flex: 1;
    width: 100%;
    height: 100%;
}

button {
    height: 80px;
    background-color: #1253af;
    border: none;
    user-select: none;
    color: white;
}

button:hover {
    background-color: #1563e0;
}

button:active {
    background-color: #1871ff;
}