#start-site {
    align-content: flex-start;
}

#start-site .history {
    width: 100%;
    overflow: auto;
}

#start-site .history .entry {
    position: relative;
    width: calc(16.666% - 14px);
    min-width: calc(16.666% - 14px);
    height: 0;
    padding-bottom: calc(16.666% - 14px);
    margin: 6px 6px 0;
    border: 1px solid lightgray;
    border-radius: 50%;
    box-shadow: lightgray 2px 0 4px -1px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#start-site .recipes-container {
    padding: 0 6px;
}

#start-site .recipe {
    width: 50%;
    cursor: pointer;
}

#start-site .recipe .image {
    position: relative;
    height: 0;
    padding-bottom: calc(100% - 14px);
    margin: 6px;
    border: 1px solid lightgray;
    border-radius: 12px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: lightgray 3px 3px 6px -2px;
}

#start-site .recipe .image .gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
}

#start-site .recipe .name {
    position: absolute;
    bottom: 0;
    padding: 0 10px 10px;
    font-family: "Gotham", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(252, 252, 252);
}

#start-site .no-recipes {
    font-family: "Gotham", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(83, 83, 83);
    text-align: center;
    margin-top: 50px;
}

#start-site .no-recipes .md-button {
    margin-top: 40px;
    padding-top: 8px;
}
